[package]
name = "axum-example"
version = "0.1.0"
edition = "2024"

[dependencies]
vespera = { path = "../../crates/vespera" }
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
axum-test = "18.3"
insta = "1.44"

